.modal {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 20;
  background-color: var(--color-primary);
  border-radius: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-rows: auto auto;
  overflow: hidden;
  transition: max-height 0.3s, padding 0.3s, box-shadow 0.3s;

  &#open {
    max-height: 300px;
    padding: 10px;
    box-shadow: var(--drop-shadow-2);
  }

  &#close {
    max-height: 0;
    padding: 0 10px;
  }

  .modalHeader {
    padding: 15px 20px;

    > p {
      color: var(--color-white);
    }
  }

  .modalContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: var(--inner-shadow-2);
    padding: 15px 20px;

    .radioGroup {
      display: flex;
      align-items: center;

      > input {
        display: none;
      }

      > input:checked + .radio::after {
        content: "";
        position: absolute;
        background-color: var(--color-primary);
        border-radius: 50%;
        width: 50%;
        height: 50%;
        top: 25%;
        left: 25%;
      }

      .radio {
        position: relative;
        display: flex;
        border: 1px solid var(--color-primary);
        border-radius: 50%;
        width: 15px;
        aspect-ratio: 1/1;
        margin-right: 10px;
      }
    }
  }
}